<div class="card border border-default/50 shadow-md">
    <div class="card-body">
        <div class="flex justify-between items-center">
            <h2 class="card-title">{{ item.productName }}</h2>
            <div class="badge badge-info badge-outline badge-sm">{{ item.category }}</div>
        </div>
        <p class="text-lg font-bold">${{ item.price.toFixed(2) }}</p>
        <div class="mt-2">Available: {{ item.quantity }}</div>
        <div class="card-actions justify-end mt-4">
            <button class="btn btn-primary btn-sm">View Details</button>
            <button (click)="addToCart()" class="btn btn-outline btn-sm">
                <app-cart-add-icon></app-cart-add-icon>
                Add to Cart
            </button>
        </div>
    </div>
</div>
